@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #135993;
  --secondary: #588bc9;
  --tertiary: #ddf2ff;
  --elements: #dca11d;
}

* {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

.bg-background {
  background-image: url('./assets/background.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-primary {
  background-color: #135993;
}
.bg-secondary {
  background-color: #588bc9;
}
.bg-tertiary {
  background-color: #ddf2ff;
}
.bg-elements {
  background-color: #dca11d;
}

.text-primary {
  color: #135993;
}
.text-secondary {
  color: #588bc9;
}
.text-tertiary {
  color: #ddf2ff;
}
.text-elements {
  color: #dca11d;
}